<!-- begin:: Content -->
<div  class="kt-portlet portlet-1 col-md-12">
	<div class="kt-portlet__head kt-bg-portlet-2">
		<div class="kt-portlet__head-label">
			&nbsp;
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Détaile SDL
			</h2>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div  class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Demandeur
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div  class="espace_bloc"></div>
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Gérant :</th>
								<td class="donnee_show">1215454545</td>
							</tr>
							<tr>
								<th>Structure :</th>
								<td class="donnee_show">10/5/2021 à 10:54</td>
							</tr>

							<tr>
								<th>Capital :</th>
								<td class="donnee_show">3255654644</td>
							</tr>
							<tr>
								<th>
									Filiale de société étrangère :
								</th>
								<td class="donnee_show">54656565</td>
							</tr>

							<tr>
								<th>
									Secteur d'activité :
								</th>
								<td class="donnee_show">Nom</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div  class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Partier défendresse
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div  class="espace_bloc"></div>
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>
									Raison Social :
								</th>
								<td class="donnee_show">1021324230</td>
							</tr>
							<tr>
								<th>
									N CNSS :
								</th>
								<td class="donnee_show">10223902349</td>
							</tr>

							<tr>
								<th>
									RC :
								</th>
								<td class="donnee_show">10223902349</td>
							</tr>
							<tr>
								<th>
									IF :
								</th>
								<td class="donnee_show">10223902349</td>
							</tr>

							<tr>
								<th>
									Ice :
								</th>
								<td class="donnee_show">Nom</td>
							</tr>
							<tr>
								<th>
									Adresse :
								</th>
								<td class="donnee_show">Al KAKI Rabat</td>
							</tr>
							<tr>
								<th>
									Ville :
								</th>
								<td class="donnee_show">Rabat</td>
							</tr>
							<tr>
								<th>
									Tel :
								</th>
								<td class="donnee_show">Active</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END DETAILS ASSOCIATION -->
		</div>
	</div>
</div>



<div class="row justify-content-center">
	<div  class="kt-portlet portlet-1 col-md-10">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h3 class="kt-portlet__head-title kt-font-inverse-brand">
					Piéces Jointes
				</h3>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div  class="espace_bloc"></div>
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>

							<tr>
								<td class="Status">Status</td>
								<td>
								<button type="button"
								class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
								matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}">
								<i class="fa fa-file"></i></button>
							</td>
							</tr>
							<tr>

								<td class="Status">Modéle J</td>
								<td>
									<button type="button"
									class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
									matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}">
									<i class="fa fa-file"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END DETAILS ASSOCIATION -->
		</div>
	</div>
</div>

<div class="kt-portlet__heads">
	<div class="kt-portlet__head-label" align="right">
		<button
			href="javascript:;"
			(click)="Back()"
			_ngcontent-dkp-c41=""
			class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
		>
			<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
			Retour
		</button>
	</div>
</div>
<div class="espace_bloc"></div>
<!-- end:: Content -->
